
.HeaderTwo {
    display: flex;
    min-height: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
}

.InfoTotal {
    background-color: rgb(104, 94, 113);
    padding: 2vw;
    margin: 2vw;
}

.GameInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.GameBoard {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.TopSubsectionBoard {
    display: flex;
    justify-content: center;
}