
.App-header {
    background-color: #1d5dde;
    display: flex;
    min-height: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-decoration: none;
  }

.App-header:hover {
  box-shadow: 1px 1px 5px 0px yellow;
  text-shadow: 1px 1px 5px 0px yellow;
  cursor: pointer;
}